/* Write your CSS code here */
.blog-item {
  width: 100%;

  border-bottom: 2px solid #e7e5ea;
  list-style-type: none;
}

.blog-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 25px;
  color: #12022f;
}

.blog-published-date {
  font-family: 'Roboto';
  font-size: 18px;
  color: #9aa5b1;
  margin-right: 20px;
}

.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #9aa5b1;
}
